<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.st.demo.mapper.SlistMapper">

    <insert id="saveData" parameterType="java.util.List">
        insert into slist(scode,sname)
        values
        <foreach collection="list" item="item" index="index" separator="," >
            (#{item.scode},#{item.sname})
        </foreach>
    </insert>

    <delete id="deleteData" parameterType="java.util.List">
        delete from slist
        where scode IN
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item.scode}
        </foreach>
    </delete>

    <delete id="deleteDataAll" >
        delete from slist
    </delete>
    
    <select id="findAll" resultType="com.st.demo.entity.SlistEntity">
        select * from slist;
    </select>
</mapper>